@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*, *::after, *::before{
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.bold{
	font-family: 'Bebas Neue', cursive;
}

header{
	display: flex;
	min-height: 100vh;
	background-color: #1e577c;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	flex-direction: column;
	color: white;
	justify-content: center;
	align-items: center;
}
header .content{
	display: flex;
	flex-direction: row;
	max-width: max(50%, 400px);
	column-gap: 20px;
	row-gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}
header > *{
	margin-top: auto;
}
header .content img{
	width: 200px;
	animation: rainbow 2s infinite linear;
}
header h1{
	font-size: 100px;
	margin: 0;
	width: fit-content;
	width: -moz-fit-content;
}
header h2{
	font-size: 60px;
	margin: 0;
	width: fit-content;
	width: -moz-fit-content;
}

@keyframes rainbow{
	0%{filter: hue-rotate(0deg)}
	50%{filter: hue-rotate(180deg)}
	100%{filter: hue-rotate(360deg)}
}
.arrow{
	font-size:70px;
	cursor: pointer;
	user-select: none;
	transition: 0.2s ease;
}
.arrow:hover{
	opacity: 0.8;
}
.arrow:active{
	opacity: 0.5;
}
section{
	padding: 35px 20px;
}
section h1{
	font-size: 72px;
	text-align: center;
	margin: 0;
}
.crab_reason{
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 20px;
	row-gap: 20px;
	flex-wrap: wrap;
	font-size: 18px;
	margin: 20px;
	color: #3d3d3d;
}
.crab_reason > div{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	column-gap: 10px;
}
.crab_brief{
	font-size: 36px;
	color: black;
}
#crab_reasons{
	margin: auto;
	width: fit-content;
	width: -moz-fit-content;
}
#yt_video{
	position: fixed;
	right: 0;
	bottom: 0;
	max-width: 100vw;
	z-index: 3;
}
#yt_cont .close{
	color: red;
	background: white;
	z-index: 4;
	position: fixed;
	bottom: 0px;
	right: 0px;
	cursor: pointer;
	font-size: 60px;
	height: 70px;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content:center;
}
.hide{
	display: none;
}